<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>781828292445-hc6751ko54akl6ju89rbekbrhmi6qtpm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.781828292445-hc6751ko54akl6ju89rbekbrhmi6qtpm</string>
	<key>API_KEY</key>
	<string>AIzaSyDyk427un8Pf0tq4_rE-MJEDKWchUKy9nM</string>
	<key>GCM_SENDER_ID</key>
	<string>781828292445</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>akbar.noStoryBoardTest</string>
	<key>PROJECT_ID</key>
	<string>fir-iostest-8e153</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-iostest-8e153.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:781828292445:ios:4846d17f98390edd</string>
	<key>DATABASE_URL</key>
	<string>https://fir-iostest-8e153.firebaseio.com</string>
</dict>
</plist>